/* To stick the footer to the bottom of the page */

.wy-side-nav-search > a img.logo {
    width: 85%;
}

.wy-nav-content {
    max-width: 1000px;
}

/* Sphinx-Gallery */
/****************************************************************************/
/* Don't let captions be italic */
.rst-content div.figure p.caption {
    font-style: normal;
}

.sphx-glr-thumbcontainer {
    min-height: 210px !important;
    width: 210px;
    margin: 10px !important;
}
